.rotate{
    animation: spin 50s linear infinite; 

}
@keyframes wave-animation {
    0% {
      transform: translateY(0) translateZ(0);
    }
    50% {
      transform: translateY(-10px) translateZ(0); 
    }
    100% {
      transform: translateY(0) translateZ(0);
    }
  }
  
  @keyframes wave-projects {
    0% {
      y:-100px;
    }
    50% {
      y:0px; 
    }
    100% {
     y:100px
    }
  }
  #hero{
    background:linear-gradient(138deg, #b9ffe4eb, white);
  }
  
  .ocean img {
    animation: wave-animation 2s ease-in-out infinite; 
  }
  .float{
    animation: wave-animation 3s ease-in-out infinite;
  }
  .floating{
    animation: wave-projects 3s ease-in-out;
  }
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }